<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estadisticas de consumo de <%=usuario %></title>
        
        <link rel="stylesheet" href="/css/normalize.css">        
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="icon" href="/assets/favicon.png">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);    
        </script>

    </head>
    <body>
        <nav class="col-lg-offset-1 col-lg-10 navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">$<-Tracker</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/consumo/consumos">Inicio</a></li>                
                        <li><a href="/consumo">Nuevo consumo</a></li>
                        <li><a href="/consumo/estadisticas">Estadisticas</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sesion <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/consumo/api/getConsumos">Descargar consumos</a></li>
                                <li><a href="#">Configuracion</a></li>
                                <li><a href="/logout">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  -->
                </div>
            </div>
        </nav>
        <script type="text/javascript" src="/jquery\dist\jquery.js"></script>
        <script type="text/javascript" src="/bootstrap\dist\js\bootstrap.js"></script>
        <script type="text/javascript" src="/js/socket.io/socket.io.js"></script>
        <script>var socket = io.connect('http://<%= ip %>:<%= port%>', { 'forceNew': true });</script>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>