
.vertical-center {
    display:        table-cell;
    vertical-align: middle;
}
.inline {
    display: inline-block;
}
.loader {
    margin-left:   40%;
    /*vertical-align:middle;
    text-align:center;*/
    border:        16px solid #f3f3f3;
    border-top:    16px solid #3498db;
    border-radius: 60%;
    width:         10em;
    height:        10em;
    animation:     spin 2s linear infinite;
}
@keyframes spin {
    0% { transform:   rotate(0deg) }
    100% { transform: rotate(360deg) }
}
@media print {
  body * {
    visibility: hidden;
  }
  .imprimible, .imprimible * {
    visibility: visible;
    position:   center;
  }
}
